.proje{
    /* max-width: 90%; */
    justify-content: center;
    
}

.project-container{
    padding: 7rem 0rem;
    max-width: 1040px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding-bottom: 0rem;
  }


  @media screen and (max-width: 940px) {
    .proje{
        max-width: 90%;
        
    }

    .project-container {
        padding: 10rem 4rem;
      max-width: 90%;
      grid-template-columns: 1fr;
      
    }
  }