.proje{
    /* max-width: 90%; */
    justify-content: center;
    
}

.project-container{
    padding: 8rem 0rem;
    max-width: 1040px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding-bottom: 0rem;
  }


  @media screen and (max-width: 940px) {
    /* .proje{
         max-width: 10%;
        
    } */

    .project-container {
        margin: 0 auto;
        padding: 10rem -5rem;
        justify-content: center;
      grid-template-columns: 1fr;
      max-width: 10%;
    }
  }