.carduca {
    max-width: 600px;
    margin: auto;
    display: grid; /* Asegura que esté configurado como una cuadrícula */
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px; /* Reducir el espacio entre las tarjetas */
    padding-bottom: 3rem;
    margin-top: 5px;
    justify-content: center; /* Centrar el contenido horizontalmente */
  }
  
  @media screen and (max-width: 700px) {
    .carduca {
      justify-content: center;
      margin-top: 30px;
      max-height: 100%;
      margin: auto;
      grid-template-columns: 1fr;
      grid-gap: 0px; /* Ajusta el espacio entre las tarjetas en pantallas pequeñas */
      padding-bottom: 5rem;
    
    }

  }
  

  