.project-card {
  background: #f6f7f5;
  width: 250px; /* Tamaño fijo en anchura */
  height: 200px; /* Tamaño fijo en altura */
  padding: 2.5rem; /* Puedes mantener el relleno uniforme si lo deseas */
  /* padding: 3rem 3rem; */
  border: rgb(187, 184, 184) solid 1px;
  border-radius: 10px;
  /* margin-top: 10px; */
  justify-content: center;
  /* grid-template-columns: repeat(2, 1fr); */
 
}


.contenedor-card{
  justify-content: center;
  /* display: flex; */
  margin: 0 auto;
  text-align: center;
  
 
}

.dos-component{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 50px;
}

h2{
  text-align: center;
 
}

.compra {
  text-align: center; /* Centrar el contenido horizontalmente */
  margin-top: 5px;
}

.compra a,
.compra h4 {
  border: rgb(51, 152, 255) solid 2px;
  padding: 0rem; /* Establece el relleno uniforme en todos los lados */
  border-radius: 5px;
  box-sizing: border-box; /* Hace que el borde esté dentro del tamaño del elemento */
  display: block; /* Cambiar a un elemento de bloque para que ocupen todo el ancho disponible */
  margin: -10px;
  margin-top: 12px;
}

.venta{
  /* border: rgb(187, 184, 184) solid 1px; */
  /* border-radius: 10px; */
  text-align: center;
  margin-top: 5px;
}

.venta a,
.venta h4{
  border: rgb(51, 152, 255) solid 2px;
  padding: 0rem; /* Establece el relleno uniforme en todos los lados */
  border-radius: 5px;
  box-sizing: border-box; /* Hace que el borde esté dentro del tamaño del elemento */
  display: block; /* Cambiar a un elemento de bloque para que ocupen todo el ancho disponible */
  margin: -10px;
  margin-top: 12px;
}

.project-card img {
  width: 100%;
}

.project-title {
  color: rgb(41, 192, 3);
  padding: 1rem 0;
}



@media screen and (max-width: 940px) {
  .project-card {
    background: #f6f7f5;
    padding: 2.5rem;
    border: rgb(187, 184, 184) solid 1px;
    border-radius: 10px;
    justify-content: center;
   
   
  }
}